<footer>
  <p>Project maintained by <a href="https://github.com/{{site.username}}">{{site.username}}</a></p>
  <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
  <p style="padding-right: 50px;">
    <!-- cnzz统计工具 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254308303'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254308303%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </p>

  
</footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->