<footer class="footer">
    <!-- 导航栏 -->
    <div class="uk-container uk-container-center">
        <div class="uk-container footwapper">
            <div class="uk-grid">
                <div class="uk-width-1-3 uk-text-center">
                    <span class="foot-text"> 京ICP备14015515号-1 </span>
                </div>
                <div class="uk-width-1-3 uk-text-center">
                    <span class="foot-text">
                        <a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3195706&c=9587431" alt="AmazingCounters.com"></a>
                    </span>
                </div>
                <div class="uk-width-1-3 uk-text-center">
                <span class="foot-text"> <i class="uk-icon-copyright"></i>2015 Michael King. </span>
                </div>
                <div class="uk-hidden">
                    <span class="foot-text">
                        <!-- cnzz统计工具 -->
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254308303'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254308303%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
