<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta name="baidu_union_verify" content="2e67fe500ceca1b9694f27a9945bbedc">
    <meta name="domain_verify" content="pmrgi33nmfuw4ir2ejwg65tfonugs43pnzts4y3oeiwcez3vnfsceorchazdaojugq4dgzbumi3diytdmu4tiojxgjrtombuge4dcyjqmm4celbcoruw2zktmf3gkir2ge2deojsg42dembqgm4ta7i">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <title>{{ site.title }}</title>

    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"shisong"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
    <!-- 多说公共JS代码 end -->
    <script src="{{ "/assets/js/scale.fix.js" | prepend: site.baseurl }}"></script>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css"  | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/pygment_trac.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>