/* 未访问的链接 */
a:link {
    text-decoration: none
}
/* 已访问的链接 */
a:visited {
    text-decoration: none
}
/* 鼠标移动到链接上 */
a:hover {
    text-decoration: none
}
/* 选定的链接 */
a:active {
    text-decoration: none
}
/*
html {
    background: #6C7989;
    background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
    background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}
*/
body {
    margin: 0;
    /*padding-top: 50px;*/
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #333;
    -webkit-text-size-adjust: 100%;
    /*background: url(../images/checker.png) repeat fixed;*/
    /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;*/

}

/* 回到顶部 */
.page-scrollTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: #bbb;
    border-radius: 7px;
    opacity: 0.7;
    display: none;
    z-index: 888;
}
.page-scrollTop .arrow {
    margin: 0 auto;
    padding-top: 11px;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #7f7f7f;
}
.page-scrollTop .stick {
    margin: 0 auto;
    padding-bottom: 21px;
    width: 13px;
    border-bottom: 13px solid #bbb;
    background-color: #7f7f7f;
}

/* 代码块 */
code.prettyprint {
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    color: #dd0055;
    white-space: nowrap;
    border: 1px solid #dddddd;
    background: #fafafa;
}
code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
    overflow-x: auto;
}
pre {
    padding: 20px;
    background: #3A3C42;
    color: #f8f8f2;
    margin: 0 -25px 20px;
    /*border: 1px #f9f9b3 dashed;*/
}
@media (min-width: 1220px) {
  pre {
      margin: 0 -35px 20px;
  }
}
pre code {
    color: #f8f8f2;
}
li pre {
    margin-left: -60px;
    padding-left: 60px;
}
