/* 头部 */
.header {
    /*background-color: #cf4646;*/
    background-color: #2e2e2e;
    border-color: transparent;
    display: block;
    min-height: 50px;
    border: 1px solid transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-width: 0 0 1px;
}
.headwapper {
    border: 0 1px 0 1px solid transparent;
    background-color: #5A5F65;
    height: 50px;
}
/* 导航栏 */
.navbar {
    height: 50px;
    line-height: 20px;
}
.navbar a {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #efefef;
}
.navbar a:hover {
    color: #ffffff;
}
/* 导航里的标题 */
.uk-navbar-brand {
    height: 50px;
}
/* 导航里的菜单 */
.navbar-nav {
    float: right;
    margin: 0;
    padding-left: 0;
}
.navbar-nav>li {
    list-style: none;
    position: relative;
    display: block;
    float: left;
}
/* 本页面标题 */
.page-title {
    padding-bottom: 9px;
    margin: 20px 0;
    border-bottom: 1px solid #AAAAAA
}
/* 列表标题 */
.link-list-title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}
/* li 的效果 */
.link-list-item {
    color: #888888;
    line-height: 30px;
    list-style: none;
    min-width: 120px;
}
.link-list-item:hover {
    color: #444444;
}
.link-list-item a {
    color: #268bd2;
}
.link-list-item a:hover {
    color: #39A9F7;
}
/* 日期 */
.link-list-item .item-head {
    padding-right: 10px;
}

.content {
    background-color: #ffffff;
    padding-bottom: 25px;
}

/* 多说的样式修改 */
#ds-thread {
  padding: 0 0 24px 0;
}
.ds-powered-by {
  display: none;
}
#ds-reset .ds-avatar img {
-webkit-transition: 0.4s;
-webkit-transition: -webkit-transform 0.4s ease-out;
transition: transform 0.4s ease-out;
-moz-transition: -moz-transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
transform: rotateZ(360deg);
-webkit-transform: rotateZ(360deg);
-moz-transform: rotateZ(360deg);
}
.footer {
    background-color: #2e2e2e;
    border-color: transparent;
    display: block;
    min-height: 50px;
    border: 1px solid transparent;
    border-width: 0 0 1px;
}
.footwapper {
    border: 0 1px 0 1px solid transparent;
    background-color: #434b55;
    height: 50px;
}
.foot-text {
    color: #939ba0;
    line-height: 50px;
}
