---
layout: default
title: Tags
---

<div class="uk-container content">
    <div class="page-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="uk-grid">
        <div  class="uk-width-3-4">
            {% for tag in site.tags %}
            <div class="link-list-title" id="{{ tag | first }}" >{{ tag | first }}</div>
            {% for posts in tag %}
            {% for post in posts %}
            {% if post.url %}
            <div class="link-list-item">
                <span class="item-head"> {{ post.date | date: '%Y-%m-%d' }} </span>
                <span class="item-head uk-icon-angle-double-right uk-icon-small"> </span>
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url}}">{{ post.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>
        <div class="uk-width-1-4">
            <div id="sticker" data-uk-sticky="{top:50}">
                <ul>
                    {% for tag in site.tags %}
                    <li class="link-list-item">
                        <a href="{{ tag | first | prepend: '/tags.html#' | prepend: site.url }}" data-uk-smooth-scroll="{offset: 50}">
                            <span class="item-head">{{ tag | first }}</span>
                            <span class="item-head">({{ tag | last | size }})</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
