---
layout: default
---
<script type="text/javascript">
jQuery(function(){
	jQuery('#qrcode').qrcode({
        width: 150,
        height: 150,
        text: "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
    });
})
</script>
<!-- 日志默认模板 -->
<div class="uk-container content">
    <div class="page-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="uk-grid">
        <div  class="uk-width-4-4">
            <div id="qrcode" class="uk-float-right"></div>
            {{ content }}
        </div>
    </div>

    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
    <!-- 多说评论框 end -->
</div>
