---
layout: default
---

<div class="post-list">
  {% for post in site.categories[page.category] %}
    <div class="post-title">
      <a style="display:inline-block;" href="{{ post.url | prepend: site.baseurl }}"> {{post.title}}</a>
      <span style="float:right; width:100px; "> {{ post.date | date: '%Y-%m-%d' }} </span>
      </br>
    </div>

    <!-- 摘要 -->
   <!--  <div class="post-preview">
      {{ post.excerpt }} 
      <a href="{{site.baseurl}}{{post.url}}"> Read More ... </a> </br>
    </div> -->
  {% endfor %}
</div>
